*{box-sizing: border-box;margin: 0;}
/* main bg */
.bag {
    background: linear-gradient(0.30turn, #21252A 40%, green);
    padding: 45px;
}

.bag-2 {
    background: linear-gradient(0.30turn, #21252A 40%, green);
    color: #fff;
    padding: 12px 0;
}


.btn {
    color: #026804 !important;
}
.scroll-btn{margin: 3% auto;;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
 }

.text-primary {
    color: #026804 !important;
}

.text-white {
    color: #fff !important;
}

i {
    font-size: 20px;
    display: inline-block;
    color: #fff;
}

/* project page */
.card-body img:hover {
    transform: scale(1.5);
}

.icdl {
    text-align: center;
    align-items: center;
    margin: 0 50px 0 50px;
}

.zoom-container {
    overflow: hidden;
}

.zoom-container img {
    opacity: 0.5;
    transition: all 500ms ease-in;
}

.zoom-container img:hover {
    top: 0px;
    left: 0px;
    opacity: 1;
    width: 19rem;
}

/* contact page */
.form-container {
    margin: 0 auto;
    width: 600px;
    background: linear-gradient(#414141, #313131) padding-box,
        linear-gradient(#026804, yellow) border-box;
    border: 4px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    height: 700px;
}

.form-container button:active {
    transform: scale(0.95);
}

.form-container .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #fff;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #fff;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #026804;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #026804;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #fff;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #026804;
    border-color: #fff;
    color: #fff;
}

#languages-container {
    padding-bottom: 10% !important;
}

.skills {
    padding-right: 10%;
    margin-right: 10%;
    padding-top: 30%;
    color: #026804 !important;
}

#about-me-img {
    margin: 10% auto;
}

@media (max-width: 768px) {
    .bag {
        background: #21252A;
    }
    footer{width: 100%;}

   

    .icdl img {
        margin-top: 20%;
    }

    .form-container {
        width: 100%;
    }

    #about-me-img {
        margin: 0 auto;
        width: 80%;
        margin-top: 15%;
    }
}

/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root {
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: #026804;
    --text-color-third: #21252A;

    --first-color: #026804;

    --second-color: #026804;
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ----- BASE ----- */

/* ----- SMOOTH SCROLL ----- */
html {
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

/* ------- BASE -------- */
body {
    background: var(--body-color);
    
}

.container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    /* not mandatory */
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {width: 100%;
    padding-inline: 10vw;
    min-height: 50vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
    position: relative;
    display: flex;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 70vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}

.featured-text-card span {
    background: var(--first-color);
    color: #fff;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.featured-name {
    font-size: 46px;
    font-weight: 600;
    color: #026804;
    margin-block: 20px;
}

.typedText {
    text-transform: capitalize;
    color: black;
}

.featured-text-info {
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-third);
}

.featured-text-btn {
    display: flex;
    gap: 20px;
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
    display: flex;
    justify-content: right;
    align-content: center;
    /* min-height: 80vh; */
    width: 40%;
    transform: scaleX(-1);
    margin-left: 15%;
}

.image {
    margin: auto 0;
    width: 380px;
    height: auto;
    animation: imgFloat 2s ease-in-out infinite;
}

.image img {
    width: 380px;
    height: auto;
    object-fit: contain;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
    }
}

/* ----- MAIN BOX ----- */
.section {
    padding-block: 5em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
    text-align: center;
    margin-bottom: 5em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
}

.about-info p {
    text-align: center;
    font-size: 15px;
    color: #777;
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
    margin: 10px;
}

.skills-header {
    margin-bottom: 30px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-list span {
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .featured-box {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }

    .social_icons {
        margin-top: 2em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: auto;
        width: 100%;
        margin-left: auto;;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info,
    .contact-info {
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }
}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */
@media only screen and (max-width: 540px) {
    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }
}
